@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* COLOURS */
/* YELLOW: FFD166 */
/* RED: EF476F */
/* GREEN: 06D6A0 */
/* BLUE: #1151b2 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  width: 15em;
  margin: 0 auto;
  font-family: VT323, sans-serif;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#1151b2 2px, #06d6a0 2px);
  background-size: 40px 40px;
  /* background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#1151b2 2px, transparent 2px),
    radial-gradient(#1151b2 2px, #e5e5f7 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px; */
}

.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  background-color: #ffd166;
  border: 6px solid #1151b2;
  border-radius: 10px;
  padding: 0.5em 0.1em;
  /* margin-top: 4em; */
}

.calc-screen {
  padding: 0.4em 0.4em;
  margin-bottom: 0.3em;
  height: auto;
  width: 90%;
  border: 4px solid #ef476f;
  border-radius: 4px;
  text-align: end;
  font-size: 32px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgba(227, 226, 226, 0.723);
}

.grid-col-span-4 {
  grid-column: span 4;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.calc-num-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2em;
  width: 90%;
  height: auto;
  margin: auto 0;
}

.btn {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  width: auto;
  height: auto;
  padding: 0.5em;
  border: 4px solid #ef476f;
  background-color: #06d6a0;
  border-radius: 4px;
  font-family: VT323, sans-serif;
}

.btn:hover {
  background-color: #1151b2;
}

.pressed {
  background-color: #1151b2;
}
